 body {
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    font-size: 1.5rem;
    
  
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

code {
    white-space: pre;
}

.entry {
    margin-top: 5vh;
}

textarea {
    height: 70vh;
    width: 80%;
}

label, input, .btn {
    display: block;
}


.main {
    padding-top: 5vh;
    padding-right: 5vw;
}

.search {
    width: 90%;
    font-size: 1.5rem;
   
  
    
}

.sidebar {
    padding-top: 5vh;
    background-color: #f0f0f0;
 

    height: 100vh;
    
} 
