 body {
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    
  
}

code {
    white-space: pre;
}



textarea {
    height: 80vh;
    width: 80vw;
}

label, input {
    display: block;
}


.main {
    padding-top: 5vh;
    padding-right: 5vw;
}

.search {
    width: 90%;
    font-size: 15px;
    line-height: 15px;
    
}

.sidebar {
    padding-top: 5vh;
    background-color: #f0f0f0;
 

    height: 100vh;
    
} 
